{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Nom d'utilisateur: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Derniere connection: {{ user.lastLogin.date }}</p>
    <p>Date de naissance: {{ user.birth.date|date("Y/m/d") }}</p>
</div>
