/* style */

$body-bg-color: beige;
$header-bg-color: brown;
$header-a-color: black;
$header-a-visited-color: black;
$footer-bg-color: brown;

/* video */

$video-img-border-color: gray;
$video-img-visited-border-color: gray;

/* style_nav */

$nav-a-color: black;
$nav-bg-color: brown;
$croix-top: 16px;
$croix-right: 14px;

/* style post */

$bg-color-post: white;
$cross-color: black;