<header>
    <a href="/"><img src="{{ asset("img/logo.png") }}" class="logo" alt="logo"><span class="text_logo">HAMSTERHUB</span></a>
    <div class="burger">
        <hr class="croix1">
        <hr class="croix2">
    </div>
    <nav>{% include("HamsterHubBundle:menu:navigation.html.twig") %}</nav>
</header>
